body {
	background-color: #f2f2f2;
    font-family: 'Arimo', sans-serif;
}

h1 {
	font-size: 30px;
	text-align: center;
}

.section-1 {
	padding: 2px;
	overflow: hidden;
	margin: 0px 35% 0px 37%;
}

.section-2 {
	text-align: center;
	border-width: 2px;
	padding: 10px;
	overflow: hidden;
	margin: 0 10% 0 10%;
	font-size: 22px;
}

.section-3 {
	text-align: left;
	margin: 0 10% 0 15%;
	font-size: 15px;
}

/*COLOR BOX DETAILS */
.box { 
	width: 50px; 
	height: 50px;
	float: left; 
	margin: 4px;
	text-align: center;
	color: white;
	font-size: 40px;
}


#box1 { background-color: red; }
#box2 { background-color: blue; }
#box3 { background-color: green; }
#box4 { background-color: purple; }
#box5 { background-color: orange; }
#box6 { background-color: gray; }
#box7 { background-color: brown; }
#box8 { background-color: black; }
#box9 { background-color: gold; }
#box10 { background-color: pink; }


/*BUTTON DETAILS*/
#resetButton, #startButton { height: 25px; }